.container-fluid {
    /* A happy medium between 950 and 1600... */
    max-width: 1275px;
}

.centeredText {
    text-align: center;
}

.current {
    background-color: greenyellow;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.notCurrent {
    background-color: transparent;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.gone {
    display: none;
}

.lessonLink {
    color: #428bca;
}

#videoPlayer {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
#videoPlayer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video-container > h1,
.video-container > div {
    float: left;
}
.video-container > h1 {
    clear: left;
}

@media (min-width: 768px) and (max-width: 991px) {
    .video-item:nth-child(2n+1) {
        clear: left;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
    .video-container > div:nth-child(3n+1) {
        clear: left;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .video-container > div:nth-child(4n+1) {
        clear: left;
    }
}